.form-control.error{
	border-color: #BC3C3C;
}
label.error{
	color:#BC3C3C;
	font-size:11px;
}
.notification{
	position: fixed;
	bottom: 0px;
	right: 0;
	display: none;
	z-index: 1000;
}
.progress-bar-box{
	display: none;
}
.al{
	color: red;
}
.nowrap{
	white-space: nowrap;
}
.footer{
	text-align: center;
	padding: 12px 0px;
	background: #f9f9f9;
}
table caption {
	background-color: #666;
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.title{
	font-weight: 600;
	width: 20%;
}
.blue{
	color:blue;
}
.timeline {
	position: relative;
	padding: 21px 0px 10px;
	margin-top: 4px;
	margin-bottom: 30px;
}

.timeline .line {
	position: absolute;
	width: 4px;
	display: block;
	background: currentColor;
	top: 0px;
	bottom: 0px;
	margin-left: 30px;
}

.timeline .separator {
	border-top: 1px solid currentColor;
	padding: 5px;
	padding-left: 40px;
	font-style: italic;
	font-size: .9em;
	margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
	content: '';
	position: absolute;
	left: -4px;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	background: currentColor;
}

.timeline .panel {
	position: relative;
	margin: 0px 10px 10px 72px;
	clear: both;
}

.timeline .panel::before {
	position: absolute;
	display: block;
	top: 8px;
	left: -24px;
	content: '';
	width: 0px;
	height: 0px;
	border: inherit;
	border-width: 12px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
	position: absolute;
	left: -59px;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0px;
	border-radius: 50%;
	text-align: center;
	float: left;
}

.timeline .panel-outline {
	border-color: transparent;
	background: transparent;
	box-shadow: none;
}

.timeline .panel-outline .panel-body {
	padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
	display: none;
}
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
	display: block;
	height: 0;
	overflow-y: hidden;
} 	